<div class="row">
    <div class="container das-middle-sec edit-view panel">
        <form class="add-form view">
            <div class="container-fluid padding-10">
                <div class="col-md-12">
                    <div class="row">
                        <h2 class="title-2 align-left">Mission Information</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="name">Name</label>
                                <span class="view-fl">{{missionview.Name}}</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="pilot">Pilot</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="drone">UAV</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="project">Project</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="location">Location</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="date">Flight Date</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Duration (minutes)</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="type">Type</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="organization">Organization</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="notes">Notes</label>
                                <span class="view-fl"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" >
                        <button class="btn btn-primary btn-lg" routerLink="/projectList/missions/{{id}}" >
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(mission.Gufi)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>
