a.vid {
    display: inline-block;
    width: 100%;
    position: relative;
}

a.vid::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}