.compareBackground {
  background-color: white;
}
h5 {
  z-index: 999;
  position: relative;
  color:#f30e58;
  top: 74px;
  text-align: center;

}
#map1{
  border-right: 4px solid rgb(1, 107, 168);
}