
<div class="page-header" style="display:inline">
  <h3>UAV Information</h3>
</div>

<form>
  <div class="row">

    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">Name</label>
        <span class="view-fl">{{uav.Name}}</span>
      </fieldset>
    </div>

    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">Device Id</label>
        <span class="view-fl">{{uav.DeviceId}}</span>
      </fieldset>
    </div>

    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">Device Model Id</label>
        <span class="view-fl">{{uav.DeviceModelId}}</span>
      </fieldset>
    </div>

    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">UIN</label>
        <span class="view-fl">{{uav.UIN}}</span>
      </fieldset>
    </div>

    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">Digi Sky Id</label>
        <span class="view-fl">{{uav.DigiSkyId}}</span>
      </fieldset>
    </div>
   
    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">Active</label>
        <span class="view-fl">{{uav.IsActive}}</span>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group view-inner">
        <label class="control-label" name="name">Notes</label>
        <span class="view-fl">{{uav.Notes}}</span>
      </fieldset>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary btn-lg" routerLink="/uavs">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
    </button>
  </div>
</form>
    
    

