a.sv_expand {
    background: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
}
.UAVnetworkview-block {
    padding: 20px;
}
img.drone {
    width: 50px;
}