<!-- <div class="bgrnd" *ngIf="isLoaded">
    <img src="../assets/garudauavlogo.png" alt="logo" style="max-width:165px;margin-left:40%">

    <div class="inputbox" >
     <h3>Discription about servey:</h3>
        
        <textarea rows="10" cols="50">
          
            </textarea> -->
            <!-- <img src="../assets/transmission.JPG" alt="logo"  style="max-width:100%;">
            <div  class="top-left"><strong >Solar INSPECTION REPORT</strong></div>
      </div>
     
      <h1 id="comp">GarudaUAV Soft Solutions Pvt. Ltd.</h1>
      <span style="color: #069ae0;font-size: large;"> 
          Unit 704-705, 7th Floor, B-8, Tower -C, Noida One
          IT Park, Sector-62, Noida-201309
          Website: https://garudauav.com
      </span>
  </div> --> 