<div class="animated fadeIn portfolio">
  <div class="row">
    <div class="col-sm-6 col-md-3">
	<a href="#/charts">
      <div class="card">
        <div class="card-body">
		<img src="assets/img/project.png" alt="">
		<p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="card-footer">Survey 1</div>
      </div>
	  </a>
    </div><!--/.col-->
	<div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
		<img src="assets/img/project.png" alt="">
		<p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="card-footer">Survey 2</div>
      </div>
    </div><!--/.col-->
	<div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
		<img src="assets/img/project.png" alt="">
		<p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="card-footer">Survey 3</div>
      </div>
    </div><!--/.col-->
	<div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
		<img src="assets/img/project.png" alt="">
		<p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="card-footer">Survey 4</div>
      </div>
    </div><!--/.col-->
    
  
  </div><!--/.row-->
</div>
